<section>
  <div class="post-details">
    <div>
      <% user = User.find(@post.author_id) %>
      <h2>Post: <%=@post.title%> by <%=user.name%></h2>
      <p class="comments-likes">Comments: <%=@post.comments_counter%>, Likes: <%=@post.likes_counter%></p>
    </div>
    <p>
      <%=@post.text%>
    </p>
  </div>
  <div class="post-comment">
    <% @comments.each do |comment| %>
      <% user = User.find(comment.author_id) %>
      <p><%=user.name%>: <%=comment.text%></p>
      <% if can? :update, comment%>
        <%= link_to 'Delete', user_post_comment_path(user, @post, comment), data: {
          turbo_method: :delete
        } %>
      <%end%>
    <% end %>
  </div>
  <%= render 'shared/like' %>
  <%= render 'shared/comment' %>
  <% if can? :update, @post%>
    <%= link_to 'Delete', user_post_path(user, @post), data: {
      turbo_method: :delete
    } %>
  <%end%>
</section>